
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight:bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
/* nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800px;
    font-size: 45px;

}
nav ul{
    display: flex;
    align-items: center;
    }
    
nav ul li{
    list-style: none;
    margin: 50px;

}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.header{
   background-image: url(../images/developer.png), url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position:top left,bottom right;

.banner-content{
    width: 580px;
}
.banner-grettings{
    font-size: 45px;
    font-weight: 600px;

}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-portfolio-pic{
    width: 480px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
}
